<div class="sidebar">
    <a class=" d-flex justify-content-center p-2">
      <img class="es" src="/assets/Escudo_de_Chaclacayo.png" width="50" />
      <img class="no " src="/assets/chaclacayo.png" alt="" width="50" >
    </a>
    <br>

    <div class="Mesa d-flex">
      <span class="ico" ><img src="./assets/mesaP.png" alt="" width="35" ></span>
      <span class="atext position-absolute">Mesa de Partes</span>
    </div>
    <hr class="hr m-2 rounded-pill ">
    <ul class="seccion">
      <li class="">
        <a routerLinkActive="active" routerLink="/inicio-mesa"><i class="bi bi-house-door-fill"></i> 
          <span class="in" ><img src="./assets/Inicio.png" alt="" width="20" ></span><span class="btext">Inicio</span>
        </a>
      </li>
      <li class="ed">
        <a routerLinkActive="active" routerLink="/numExp"><i></i>
        <span class="inc ne"><img  src="./assets/nuex.png" alt="" width="20"></span><p class="bbtext">Número de Expediente</p>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/orgn"><i></i>
        <span class="inc"><img  src="./assets/org.png" alt="" width="20"></span><span class="bbtext">Organizaciones</span>
        </a>
      </li>
      <br>
        <div class="botones">
            <i class="bi bi-facebook">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
            <i class="bi bi-instagram">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
            <i class="bi bi-twitter"></i>
        </div>
    </ul>
    <p class="text-wrap align-bottom  text-white">
      @2022 <font color="#00FF0A">Municipalidad de Chaclacayo</font>, 856,
      Av. Nicolás de Ayllón, Chaclacayo.
    </p>
  </div>
